*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(229, 57%, 11%);
    background-image: url('./images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height:100vh;
    width:100vw;
}

main{
    height:100%;
    max-width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.first_container{
    height:200px;
    width: 350px;
    background-color: hsl(228, 56%, 26%);
    border-radius:10px;
    border-top-right-radius: 100px;
    padding:2.5rem;
}

.row img{
    height:45px;
    width:45px;
    margin-top:2rem; 
    margin-right:0.7rem;
    background-color: hsl(229, 57%, 11%);
    padding:10px;
    border-radius: 7px;
    
}
#up{
    width:51px;
}
#fol{
    width:48px;
}

.second_container{
    height:150px;
    width:500px;
    background-color: hsl(228, 56%, 26%);
    border-radius:10px;
    margin-top:52px;
    padding:2.5rem;
}

.second_container p{
    color:rgba(240, 255, 255, 0.815);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.scale{
    height:17px;
    width:100%;
    background-color: hsl(229, 57%, 11%);
    border-radius:20px;
    padding-right:10px;
    z-index: 0;
    display:flex;
    align-items: center;
}

.timeline{
    height:13px;
    width:75%;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius:20px;
    /* padding-right:10px; */
    z-index: 1;
    margin-left:2px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.shape{
    height:10px;
    width:10px;
    z-index:2;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 50%;
    margin-right: 2px;
}

.box{
    position:absolute;
    top: 38.3%;
    right: 21.5%;
    width: 0;
    height: 0;
    background-color:white;
    width:170px;
    height:70px;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.box::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid white; /* Adjust color as needed */
  }

.box span:first-child{
    font-size:40px;
    font-weight:700;
    font-family: "Raleway", sans-serif;
}

.box span:last-child{
    font-family: "Raleway", sans-serif;
    padding-left:7px;
    padding-top:5px;
    font-size: 14px;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.429)
}
.line{
    padding-top:7px;
    display:flex;
    justify-content: space-between;
    font-size: 12px;
}